@import "../libs/bootstrap/less/bootstrap.less";

@iconSpritePath:          "../libs/bootstrap/img/glyphicons-halflings.png";
@iconWhiteSpritePath:     "../libs/bootstrap/img/glyphicons-halflings-white.png";

body
{
    padding-top: 60px;
}

.page-header
{
    margin: 20px 0 50px;
}
